.navbar-inverse{
	border-color: white;
	box-shadow: white 0px 0px 10px 5px;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  /*padding: 10px 16px;*/
  font-size: 12px;
  /*line-height: 1.33;*/
  border-radius: 50%;
  box-shadow: black 5px 5px 10px 2px;
}
.dailyformdiv{
	box-shadow: darkgrey 0px 0px 20px 5px;
	border-color: black ;
 
}