.expense_title{
	text-align: center;
}

.expense_title .dropdown ul li {
	text-align: center;
}
.graph_select{
	margin-left: -10px;
	margin-right: -4px;
	font-size: 10px;
	background-color: black;
	opacity: 0.8;
	border-radius: 10px;
}

.monthCanvas{
	background-color: black;
	padding: 30px;
box-shadow:0px 0px 10px white ;

} 