@media screen and (max-width: 480px) {
	.recordListTable{
		font-size: 10px;
	}
	.expenseForm{
		font-size: 10px;
	}
.recordTitle{
	width: 80px;
}
.expenseTable{
	font-size: 0px;
	width: 10px;
}
.expenseTable{
	font-size: 10px;
}
}