 <div class="container">
    <div ng-include="'views/nav_bar.html'"></div>
    </div>

<div class="row" ng-controller="LoginCtrl" >
<div class="col-md-4"></div>
<div class="col-md-4 well login-form">
  <h2 class="login-title">Login</h2>
  <div ng-if="user_created_successfuly" class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    successfuly user created
  </div>
   <div ng-if="failed_login" class="alert alert-danger alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Failed to login/ Try again
  </div>
  <hr>
 <form class="login">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="login.email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="login.password">
  </div>
  
  <button type="submit" class="btn btn-success " ng-click="login()">Submit</button>
   <a class="btn btn-default pull-right" href="/#!/signup">signup</a>
   <br>
  <!-- <span class="pull-right">If not registered?</span> -->
    
</form>
</div>
<div class="col-md-4"></div>
</div>