	<div ng-controller="RecordsCtrl">
	<div nav-bar2 ></div>
<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 well">
			<div class="listRecords well well-sm" ng-repeat="record in records | orderBy : '-created_at'">
				<a data-target="#demo-{{record.id}}" class="btn btn-primary btn-block" data-toggle="collapse">{{record.date }}</a><br>
				<div id="demo-{{record.id}}" class="collapse">
					{{record}}


					<table class="table table-bordered">
						<thead>
							<tr>
								<th>TITLE</th>
								<th>DESC</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>Doe</td>
								<td>john@example.com</td>
							</tr>
							<tr>
								<td>Mary</td>
								<td>Moe</td>
								<td>mary@example.com</td>
							</tr>
							<tr>
								<td>July</td>
								<td>Dooley</td>
								<td>july@example.com</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>


	</div>